.translation-result {
        opacity: 0.9;
        font-size: 0.81em;
        transition: opacity 0.3s ease-in-out;
}

span.translation-result {
        display: inline;
}

div.translation-result {
        margin-top: 0;
        padding-top: 0;
}

.translation-result:hover {
        opacity: 1;
}
