@import url('./feature/translate/translate.css');
@import url('./feature/linkTarget/linkTarget.css');
@import url('./feature/anchor/anchor.css');
@import url('./feature/ai/ai.css');

.bionic-text {
        margin: 0;
        padding: 0;
        display: contents !important;
}

.striped {
        position: relative;
}

.striped::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-size: 36px 100%;
        background-clip: content-box;
        background-origin: content-box;
        /* 通过 CSS 变量动态设置条纹颜色 */
        background-image: linear-gradient(
                90deg,
                #0000 35px,
                var(--stripe-color, rgba(118, 118, 118, 0.187)) 1px
        );
        filter: invert(100%);
}
