.bionic-text {
    margin: 0;
    padding: 0;
    display: contents !important;
}

.striped {
    position: relative;
}

.striped::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-size: 36px 100%;
    background-clip: content-box;
    background-origin: content-box;
    /* 通过 CSS 变量动态设置条纹颜色 */
    background-image: linear-gradient(
        90deg,
        #0000 35px,
        var(--stripe-color, rgba(118, 118, 118, 0.187)) 1px
    );
    filter: invert(100%);
}

/* *:focus { */
/* outline: 2px solid #7a7a7a7d;
    outline-offset: 2px; */
/* background-color: #0000; */
/* } */

.bread-highlight mark {
    /* 基础背景色高亮 */

    color: #000; /* 确保文字颜色清晰 */
    display: contents;
    filter: brightness(0.8) contrast(1.2); /* 降低亮度、增强对比 */
    background-color: rgba(255, 255, 0, 0.1); /* 微透明背景辅助区分 */
}

.translation-result {
    opacity: 0.78;
    font-size: 0.88em;
    transition: opacity 0.3s ease-in-out;
}
div.translation-result{
    margin-top: 0;
    padding-top: 0;
}

.translation-result:hover{
    opacity: 1;
}