.anchor-container {
        position: fixed;
        right: 3px;
        bottom: 3px;
        z-index: 1000;
        width: auto;
        height: 20px;
}

.bread {
        box-sizing: border-box;
        border: #000 1px solid;
        color: #000;
        background-color: rgba(240, 248, 255, 0.92);
        cursor: default;
        height: 100%;
        font-size: 12px;
        user-select: none;
        padding: 0;

        display: flex;
        align-items: center;
}

.bread span {
        box-sizing: border-box;
        display: inline-block;
        margin: 0 2px;
        padding: 0 1px;
        height: 90%;
        line-height: 1.2;
        font-size: 0.85rem;
}
